<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name ="Constr" connectionString ="Data Source=2ee00f13-2677-4346-8dfe-a56c01256a4c.sqlserver.sequelizer.com;Database=db2ee00f13267743468dfea56c01256a4c;User ID=zduacoluvheayovt;
Password=TdJgs4TYwxjQkWPhqGEyL5skJ2M4zrFJZnJJrErEpsNiKTZBWy5FTu2WSxEypXxf;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
 
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
